﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GroupList.ascx.cs" Inherits="headers_GroupList" %>

<div class="table-top-action">
    <div class="bulkActionbtn">
        <%--<select class="browser-default custom-select">
            <option selected="selected">Bulk Action</option>
        </select>
        <button type="submit" class="btn btn-light applyBtn">Apply</button>--%>
        <a id="addGroupBtn" href="AddGroup.aspx?IsFromAssign=true&IsFromCreate=true">
            <button type="button" class="createUser" id="userbtn"><i class='fas fa-users'></i>&nbsp; Create Group </button>
        </a>
    </div>
    <input class="input-search" oninput="searchGroupTable()" id="searchGroupTable" type="text" placeholder="Search" />
    <span id="cal-range-group" class="cal-range"><i class="fa fa-calendar"></i>&nbsp; Select date range</span>
</div>

<!--table starts-->
<table id="pageGroups" class="" style="width: 100%">
    <thead class="tableHeader">
        <tr>
            <th style="width: 29px; padding: 0px 13px !important;">
                <div class="checkbox">
                    <input type="checkbox" id="chkUsersList" class="dt-checkboxes" /><label></label>
                </div>
            </th>
            <th style="width:150px;">GROUP NAME<i class="fa fa-sort"></i><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></th>
            <th style="width:150px;">NO OF USERS<i class="fa fa-sort"></i><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></th>
            <th style="width:150px;">DATE CREATED<i class="fa fa-sort"></i><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></th>
            <th style="width:300px;">MODULES ASSIGNED<i class="fa fa-sort"></i><i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></th>
            <th width="400px"></th>
        </tr>
    </thead>
    <tbody class="tableBody">
    </tbody>
</table>

<div class="clearfix"></div>
<div class="custom-pagination">
    <div class="row">
        <div class="col-md-6 col-lg-6">
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="datatable-pagination pull-right">
                <span id="total-rec-group"></span>
                <button id="firstBtng" class="pagg-btn btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
                <button id="prevBtng" class="pagg-btn btn"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                <span id="page-datag" class="page-numb">1 of 1</span>
                <button id="nextBtng" class=" pagg-btn btn"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                <button id="lastBtng" class=" pagg-btn btn"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<!--table ends-->