﻿.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 9999;
}

    .loader img {
        width: 100px;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }


.table-top-action {
    padding: 5px 10px 10px 5px;
    position: relative;
    text-align: right;
}

.cal-range {
    font-size: 12px;
    padding: 8px;
    background-color: #e1e3ec;
    border-radius: 2px;
}

.input-search {
    width: 200px;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: #000000;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.tableHeader tr th {
    border:none !important;
    font-size:12px !important;
}

.tableBody tr td {
    font-size: 12px !important;
    border-bottom: 1px solid #ecf3f9;
}

table.dataTable.no-footer {
    border-bottom:none !important;
    padding-bottom:20px;
}

.custom-pagination {
    padding: 5px 15px 20px 15px;
}

.datatable-pagination .pagg-btn {
    background: #E1E3EC;
    padding: 1px 10px;
    color: #3E306E;
    font-size: 18px;
    margin-right: 5px;
}

.datatable-pagination .page-numb {
    font-size: 14px;
    padding: 5px 10px;
}

#total-rec {
    font-size: 12px;
    padding: 0px 10px;
}

#total-rec-group {
    font-size: 12px;
    padding: 0px 10px;
}

#total-rec1 {
    font-size: 12px;
    padding: 0px 10px;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 15px 10px 10px !important;
}

.dt-checkboxes-cell input[type=checkbox] {
    background:red;
}


.daterangepicker .applyBtn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

table.dataTable thead tr i,
table.dataTable tbody tr i {
    font-size: 14px;
    padding-left: 6px;
}


table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-image: none !important;
}

    table.dataTable thead .sorting .fa-caret-up, table.dataTable thead .sorting .fa-caret-down {
        display: none;
    }

    table.dataTable thead .sorting .fa-sort {
        display: inline-block;
    }

    table.dataTable thead .sorting_asc .fa-caret-up, table.dataTable thead .sorting_asc .fa-sort {
        display: none;
    }

    table.dataTable thead .sorting_asc .fa-caret-down {
        display: inline-block;
    }

    table.dataTable thead .sorting_desc .fa-caret-down, table.dataTable thead .sorting_desc .fa-sort {
        display: none;
    }

    table.dataTable thead .sorting_desc .fa-caret-up {
        display: inline-block;
    }


.btn-active {
    color: #7FC04E;
    background-color: #DFF0D8;
    border-color: #DFF0D8;
    font-size: 12px;
    font-weight:bold;
}

.btn-inactive {
    color: #E75059;
    background-color: #F7D8D5;
    border-color: #F7D8D5;
    font-size: 12px;
    font-weight: bold;
}

.status-btn .dropdown-menu {
    font-size: 12px;
    min-width: 100px;
}

.btn-group.status-btn .btn {
    width: 80px;
}

.eveForm {
    padding: 10px 20px 40px 20px;
}

.bootstrap-datetimepicker-widget {
    font-size:12px;
}

.alert {
    font-size: 12px !important;
    padding: 8px 15px !important;
    margin-bottom: 0px !important;
}

.map-legend {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
}

.map-legend-table {
    width: 100%;
    font-size: 10px;
    font-weight: 600;
}
.map-legend-color {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 100%;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.42);
    margin-right: 10px;
}

.map-legend-container {
    height: 325px;
    overflow: auto;
}

#legend td {
    padding-bottom: 8px;
}

.noti-table td:first-child {
    font-size: 10px;
    color: #585858;
    letter-spacing: 0.33px;
    font-weight: normal;
    padding-bottom: 7px;
    width: 140px;
    vertical-align: top;
}

.noti-table td:nth-child(2) {
    font-size: 10px;
    color: #585858;
    letter-spacing: 0.33px;
    padding-bottom: 7px;
    vertical-align: top;
}

.noti-container {
    padding: 10px 15px;
    height: 160px;
    overflow: auto;
}

.arRadioList input[type='radio']:after {
   padding-right:5px;
}

.dataTables_wrapper .dt-buttons {
    display:none;
}


select#groupList {
    float: right;
    width: 180px;
    height: 26px;
    max-width: 220px;
    font-size: 10px;
    padding: 2px 0 0 8px;
    color: #A7ABC3;
    margin: 5px 0px 0 10px;
    border-radius: 0px;
}

.no-records {
    padding-left: 19px;
    font-size: 13px;
}

#questionContainer {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.mquestion {
    padding-bottom: 5px;
    font-size: 14px;
}

.dButton {
    background: #000000;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}


#questionOpts {
    padding: 20px;
    font-size: 13px;
}

    #questionOpts table {
        width: 100%;
        margin-bottom: 20px;
        background: white;
    }

        #questionOpts table td:first-child {
            padding: 5px 40px 5px 10px;
        }

    #questionOpts table td:nth-child(2) {
        text-align: right;
        padding-right: 5px;
        width: 2%;
        min-width: 75px;
    }

    #questionOpts table tr:nth-child(2) td:nth-child(3) {
        padding-left: 5px;
        width:40%;
    }

        #questionOpts table tr:nth-child(1) , #questionOpts table tr:nth-child(2) {
            font-weight: bold;
        }

.tblDown {
    top: 1px;
    position: absolute;
    right: 2px;
    height: 30px;
    border-radius: 0px;
}


