* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header > div.col-md-2 {
    padding: 10px 40px;
    text-align: center;
}

/* Start Page Title */
.pgTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 70px;
    color: black;
    text-align: right;
    right: 30px;
}

    .pgTitle i {
        padding-left: 10px;
    }

/* End Page Title */


/* Start Left NAvigation */
#leftNavigation {
    background-image: url(../images/navtopbg.png);
    background-repeat: repeat-x;
    height: 100%;
    padding-top: 15px;
}

    #leftNavigation > ul {
        list-style: none;
    }

        #leftNavigation > ul > li {
            padding: 25px 40px;
            text-align: center;
            font-size: 12px;
        }

            #leftNavigation > ul > li a {
                text-align: center;
                font-size: 12px;
                text-decoration: none;
                color: #110D21;
            }

                #leftNavigation > ul > li a > i {
                    color: purple;
                    font-size: 26px;
                    opacity: 0.2;
                }

            #leftNavigation > ul > li.active a > i {
                color: purple;
                opacity: 1;
            }

            #leftNavigation > ul > li:hover a > i {
                color: purple;
                opacity: 1;
            }

/* End Left NAvigation */

/* ================ START DASHBOARD ======================= */

/* Start Header Title */
.pageheaderbar {
    color: white;
    line-height: 40px;
}

#pageHeader {
    background: #692771;
    height: 40px;
    font-size: 1rem;
}

.pageHeaderTitle {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.27px;
}

.pageHeaderDesc {
    text-align: right;
    font-size: 13px;
    padding-right: 40px;
}
/* End Header Title */

/* Start Right Page Body Content  */

#pageBody {
    padding: 1rem;
    background-color: #f9f9fc;
}

    #pageBody > div.col-md-4 {
        margin: 0px;
        padding-right: 0px;
    }

.pageBody {
    padding: 30px;
    background-color: #f9f9fc;
}

/* Start Activity Title */
#activity {
    margin: 20px 0px 10px 0px;
}

.activitytxt {
    height: 51px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxt h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 90px;
    }

#activity > div > div:nth-child(1) > div > div {
    color: black;
    font-size: 1rem;
    padding: .5rem;
}

/* End Activity Title */

/* Start Recently Publisted Text  */
.rectPub {
    color: black;
    padding: 8px 8px 0 8px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.07px;
}

.rleftlist {
    padding-right: 0px;
}

    .rleftlist ul {
        list-style: none;
    }

    .rleftlist > ul > li {
        font-size: 10px;
        color: #585858;
        letter-spacing: 0.33px;
        font-weight: normal;
        padding-bottom: 7px;
    }

.rrightlist {
    padding: 0 12px 0px 0px;
}

    .rrightlist ul {
        list-style: none;
    }

    .rrightlist > ul > li {
        font-size: 10px;
        color: #585858;
        letter-spacing: 0.33px;
        font-weight: bold;
        padding-bottom: 7px;
    }

.usersIcon {
    margin: 0px;
    padding: 0px;
}

    .usersIcon img {
        padding: 0px;
        margin: 20px 0px 20px 9px;
    }

/* End Recently Publisted Text  */

/* Start Total Active and Autorized Users */
#totalUsers {
    margin: 20px 0px;
}

.totalUsersnum {
    font-size: 25px;
    color: #29295B;
    letter-spacing: 1.32px;
    text-align: center;
    font-weight: bold;
    padding-top: 9px;
}

.totalUsersdes {
    font-size: 10px;
    color: #585858;
    letter-spacing: 0.33px;
    text-align: center;
}

.cardCustom {
    background-color: #fcfcfc;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 0px;
}

/* End Total Active and Autorized Users */


.map {
    background-color: white;
    margin: 20px 0px 20px 10px;
    height: 335px;
    position: relative;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: 520px 300px;
    background-position: 20px;
}

    .map .plus {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        font-size: 11px;
        position: absolute;
        left: 7px;
        top: 10px;
    }

    .map .minus {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        position: absolute;
        top: 33px;
        left: 7px;
    }

#listOfUsers {
    padding-bottom: 10px;
}

    #listOfUsers > div > h1 {
        color: black;
        padding: 1rem 0;
        font-size: 1rem;
    }
/* End Right Page Body Content  */

/* ================ DASHBOARD END ======================= */

/* ================ START USER PAGE ======================= */

.listofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .listofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .listofusers a h1.active {
        border-bottom: 3px solid #692771;
    }

    .listofusers li a h1:hover {
        border-bottom: 3px solid #692771;
    }

.userlistleft {
    margin-bottom: 0px;
}

    .userlistleft li, .userlistright li {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
        margin-bottom: 0px;
    }

        .userlistleft li a {
            text-decoration: none;
            color: #000000;
        }

            .userlistleft li a:hover {
                text-decoration: none;
                color: #000000;
                border-bottom: 3px solid #692771;
            }

.userlistright {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .userlistright li {
        font-size: 12px;
        color: #6BC04B;
        text-align: right;
        line-height: 50px;
        padding: 0 15px;
    }

        .userlistright li.active {
            color: #6BC04B;
            opacity: 1;
            border-bottom: 4px solid #6BC04B;
        }

        .userlistright li:nth-child(1) {
            color: #666666;
            opacity: 0.5;
        }

            .userlistright li:nth-child(1):hover {
                color: #666666;
                opacity: 1;
                border-bottom: 4px solid #666666;
            }

            .userlistright li:nth-child(1).active {
                color: #666666;
                opacity: 1;
                border-bottom: 4px solid #666666;
            }

        .userlistright li:nth-child(3) {
            color: #E74C39;
            opacity: 0.5;
        }

            .userlistright li:nth-child(3):hover {
                color: #E74C39;
                opacity: 1;
                border-bottom: 4px solid #E74C39;
            }

            .userlistright li:nth-child(3).active {
                color: #E74C39;
                opacity: 1;
                border-bottom: 4px solid #E74C39;
            }

.bulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .bulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.applyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.createUser, .activebutton {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#userbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

.btnFlashCard {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

#acivebtn {
    background: #8bc34a59 !important;
    color: #008000a6;
    font-weight: bold;
    padding: 7px 6px 6px 9px;
    border: none;
    border-radius: 2px;
}

    #acivebtn option {
        padding: 0px;
        margin: 0px;
    }

.tableHeader {
    text-transform: uppercase;
    background: #ecf3f9;
    font-size: 10px;
    color: #29295B;
    letter-spacing: 0;
}

.tableBody {
    background: #ecf3f9;
    font-size: 10px;
    color: #000000;
}

/* ================ USER PAGE END ======================= */

/* ================ START ADD USER PAGE ======================= */

.activitytxtUser h1 {
    padding-left: 20px;
    border-bottom: 3px solid #692771;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 50px;
    width: 144px;
}

.activitytxtGroup {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtGroup h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 150px;
    }


.activitytxtCourse1 {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtCourse1 h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: fit-content;
    }


    .activitytxtCourseFlashQst h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        
    }

.userForm {
    padding: 10px 0px 210px 20px;
}

.formTxt {
    margin-bottom: 22px;
}

    .formTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .formTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
    }

        .formTxt input::placeholder {
            color: #29295B !important;
        }

    .formTxt .formTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

.userBut {
    position: relative;
    top: 190px;
}

.userBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .userBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .userBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.userBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
}

    .userBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ ADD USER PAGE END ======================= */

/* ================ START GROUP PAGE ======================= */
#assignUserBtn {
    background: #29295B;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

.assgnUserBtn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}
/* ================ GROUP PAGE END ======================= */

/* ================ START CREATE GROUP PAGE ======================= */
.glistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .glistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .glistofusers a h1.active {
        border-bottom: 3px solid #692771;
    }

    .glistofusers li a h1:hover {
        border-bottom: 3px solid #692771;
    }

.guserlistleft {
    margin-bottom: 0px;
}

    .guserlistleft li, .guserlistright li {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
        margin-bottom: 0px;
    }

        .guserlistleft li a {
            text-decoration: none;
            color: #000000;
        }

            .guserlistleft li a:hover {
                text-decoration: none;
                color: #000000;
                border-bottom: 3px solid #692771;
            }

.guserlistright {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .guserlistright li {
        font-size: 12px;
        color: #6BC04B;
        text-align: right;
        line-height: 50px;
        padding: 0 15px;
    }

        .guserlistright li.active {
            border-bottom: 4px solid #6BC04B;
        }

        .guserlistright li:nth-child(2) {
            color: #E74C39;
            opacity: 0.5;
        }

            .guserlistright li:nth-child(2):hover {
                color: #E74C39;
                opacity: 1;
                border-bottom: 4px solid #E74C39;
            }



.gbulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .gbulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.gapplyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.gcreateUser, .gactivebutton {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#guserbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

#gacivebtn {
    background: #8bc34a59 !important;
    color: #008000a6;
    font-weight: bold;
    padding: 7px 6px 6px 9px;
    border: none;
    border-radius: 2px;
}

    #gacivebtn option {
        padding: 0px;
        margin: 0px;
    }

.gformTxt {
    margin: 20px 0px;
}

    .gformTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .gformTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
    }

        .gformTxt input::placeholder {
            color: #29295B !important;
        }

    .gformTxt .formTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

.guserBut1 {
    font-size: 14px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: right;
}

    .guserBut1 a {
        color: #692771;
        font-size: 12px;
        text-decoration: none;
    }

        .guserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.guserBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .guserBut2 a {
        color: #fff;
        text-decoration: none;
    }

/* ================ CREATE GROUP PAGE END ======================= */
.btnlinkresource {
    font-weight: normal;
    padding: 6px 6px 6px 6px;
    border: none;
    border-radius: 2px;
    background: #000;
    color: #ffffff;
}
/* ================ START ASSIGN USER MODULE 1 PAGE ======================= */

.aumUserGroup {
    border-bottom: 1px solid #EBEDF2;
    display: flex;
}

    .aumUserGroup li {
        list-style: none;
    }

    .aumUserGroup h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 47px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.aumlistofusers {
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    height: 50px;
}

.aumRadioList {
    width: 500px;
    margin: 0px;
    text-align: left;
    float: left;
    padding-left: 10px;
}

    .aumRadioList ul {
        margin: 0px;
        padding: 0px;
    }

    .aumRadioList li {
        margin: 0px;
        padding: 0 25px 0 0;
        list-style: none;
        display: inline;
        font-size: 13px;
        font-weight: bold;
    }

    .aumRadioList input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

    .aumRadioList input[type='radio']:checked:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

.aumselectUser {
    margin: 0 0 20px 0;
    padding: 5px 20px;
    background-color: #F2F3F7;
}

    .aumselectUser p {
        font-size: 10px;
        color: #29295B;
        margin-bottom: 0px;
    }

    .aumselectUser ul {
        margin: 0px;
        padding: 0px;
    }

    .aumselectUser li {
        margin: 0px 5px 65px 0;
        padding: 3px 2px 3px 10px;
        display: inline;
        font-size: 10px;
        font-weight: bold;
        color: white;
        background-color: #000;
        border-radius: 10px;
    }

        .aumselectUser li i {
            padding: 5px;
            border-left: 1px solid #FFF;
        }

.aumuserBut1 {
    font-size: 14px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: right;
}

    .aumuserBut1 a {
        color: #692771;
        font-size: 12px;
        text-decoration: none;
    }

        .aumuserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.aumuserBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .aumuserBut2 a {
        color: #fff;
        text-decoration: none;
    }

/* ================ ASSIGN USER MODULE 1 END ======================= */

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a.btnlinkresource:hover {
    color: #ffffff;
}

.text-darkgray {
    color: #212529;
}

.aumgroupBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .aumgroupBut2 a {
        color: #fff;
        text-decoration: none;
    }

/* ================ RESOURCE MANAGER PAGE ======================= */

.rmlistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .rmlistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

        .rmlistofusers h1.active {
            border-bottom: 3px solid #692771;
        }

.rmuserlistleft {
    width: 190px;
    margin-bottom: 0px;
}

    .rmuserlistleft li {
        font-size: 12px;
        margin-bottom: 0px;
        list-style: none;
    }

.rmbulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .rmbulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.rmapplyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.rmcreateUser {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#rmuserbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

/* ================ RESOURCE MANAGER END ======================= */


.activitytxtCourse h1 {
    padding-left: 20px;
    border-bottom: 3px solid #692771;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 50px;
    width: 150px;
}

.activitytxtResource h1 {
    padding-left: 20px;
    border-bottom: 3px solid #692771;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 50px;
    width: 185px;
}

.btn-custom {
    background: #692771;
    color: white;
}

.btn-icon-small {
    padding: 2px 5px;
    font-size: 10px;
}
