* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header > div.col-md-2 {
    padding: 10px 40px;
    text-align: center;
}

/* Start Page Title */
.pgTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 70px;
    color: black;
    text-align: right;
    right: 30px;
}

    .pgTitle i {
        padding-left: 10px;
    }

/* End Page Title */


/* Start Left NAvigation */
#leftNavigation {
    background-image: url(../images/navtopbg.png);
    background-repeat: repeat-x;
    height: 100%;
    padding-top: 15px;
}

    #leftNavigation > ul {
        list-style: none;
    }

        #leftNavigation > ul > li {
            padding: 25px 40px;
            text-align: center;
            font-size: 12px;
        }

            #leftNavigation > ul > li a {
                text-align: center;
                font-size: 12px;
                text-decoration: none;
                color: #110D21;
            }

                #leftNavigation > ul > li a > i {
                    color: purple;
                    font-size: 26px;
                    opacity: 0.2;
                }

            #leftNavigation > ul > li.active a > i {
                color: purple;
                opacity: 1;
            }

            #leftNavigation > ul > li:hover a > i {
                color: purple;
                opacity: 1;
            }

/* End Left NAvigation */

/* ================ START DASHBOARD ======================= */

/* Start Header Title */
.pageheaderbar {
    color: white;
    line-height: 40px;
}

#pageHeader {
    background: #692771;
    height: 40px;
    font-size: 1rem;
}

.pageHeaderTitle {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.27px;
}

.pageHeaderDesc {
    text-align: right;
    font-size: 13px;
    padding-right: 40px;
}
/* End Header Title */

/* Start Right Page Body Content  */

#pageBody {
    padding: 1rem;
    background-color: #f9f9fc;
}

    #pageBody > div.col-md-4 {
        margin: 0px;
        padding-right: 0px;
    }

.pageBody {
    padding: 30px;
    background-color: #f9f9fc;
}

/* Start Activity Title */
#activity {
    margin: 20px 0px 10px 0px;
}

.activitytxt {
    height: 51px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxt h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 90px;
    }

#activity > div > div:nth-child(1) > div > div {
    color: black;
    font-size: 1rem;
    padding: .5rem;
}

/* End Activity Title */

/* Start Recently Publisted Text  */
.rectPub {
    color: black;
    padding: 8px 8px 0 16px;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.07px;
}

.rleftlist {
    padding-right: 0px;
}

    .rleftlist ul {
        list-style: none;
    }

    .rleftlist > ul > li {
        font-size: 10px;
        color: #585858;
        letter-spacing: 0.33px;
        font-weight: normal;
        padding-bottom: 7px;
    }

.rrightlist {
    padding: 0 12px 0px 0px;
}

    .rrightlist ul {
        list-style: none;
    }

    .rrightlist > ul > li {
        font-size: 10px;
        color: #585858;
        letter-spacing: 0.33px;
        font-weight: bold;
        padding-bottom: 7px;
    }

.usersIcon {
    margin: 0px;
    padding: 0px;
}

    .usersIcon img {
        padding: 0px;
        margin: 20px 0px 20px 9px;
    }

.padReduce {
    padding: 0px;
}

/* End Recently Publisted Text  */

/* Start Total Active and Autorized Users */
#totalUsers {
    margin: 20px 0px;
}

.totalUsersnum {
    font-size: 25px;
    color: #29295B;
    letter-spacing: 1.32px;
    text-align: center;
    font-weight: bold;
    padding-top: 9px;
}

.totalUsersdes {
    font-size: 10px;
    color: #585858;
    letter-spacing: 0.33px;
    text-align: center;
}

.TAVcardCustom {
    background-color: #fcfcfc;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 10px 0;
}

.cardCustom {
    background-color: #fcfcfc;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 0px;
}

/* End Total Active and Autorized Users */

/* Start Map  */
.map {
    background-color: white;
    margin: 20px 0px 20px 10px;
    height: 90%;
    position: relative;
    /* background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: 520px 300px; */
    background-position: 20px;
}

    .map .plus {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        font-size: 11px;
        position: absolute;
        left: 7px;
        top: 10px;
    }

    .map .minus {
        width: 20px;
        height: 20px;
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        position: absolute;
        top: 33px;
        left: 7px;
    }

.mapLegends {
    padding: 0px 0px 5px 0;
    margin: 10px;
    /* top: 130px; */
    /* left: 570px; */
    float: right;
}

    .mapLegends h2 {
        font-size: 12px;
        font-weight: bold;
    }

.mapLegendsLft {
    float: right;
}

    .mapLegendsLft ul {
        list-style: none;
        padding: 0 20px 0 0;
        margin: 0;
    }

    .mapLegendsLft li {
        font-size: 12px;
        line-height: 16px;
    }

        .mapLegendsLft li::before {
            content: "• ";
            color: #e64f98;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

        .mapLegendsLft li:nth-child(2)::before {
            content: "• ";
            color: #e64d37;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

        .mapLegendsLft li:nth-child(3)::before {
            content: "• ";
            color: #c2daf1;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

        .mapLegendsLft li:nth-child(4)::before {
            content: "• ";
            color: #fce4d1;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

        .mapLegendsLft li:nth-child(5)::before {
            content: "• ";
            color: #6dbe4c;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

        .mapLegendsLft li:nth-child(6)::before {
            content: "• ";
            color: #a8abc3;
            font-size: 34px;
            position: relative;
            top: 8px;
        }

.mapLegendsRgt {
    float: right;
}

    .mapLegendsRgt ul {
        list-style: none;
        padding: 0;
        margin: 4px 0 0 0;
    }

    .mapLegendsRgt li {
        font-size: 12px;
        line-height: 23.2px;
    }

.clear {
    clear: both;
}
/* End Map */
#listOfUsers {
    padding: 15px;
}

    #listOfUsers h1 {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
    }

    #listOfUsers select {
        float: right;
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        margin: 15px 15px 0 10px;
        border-radius: 0px;
    }

.call-range {
    float: right;
    font-size: 12px;
    padding: 4px 8px;
    background-color: #e1e3ec;
    border-radius: 2px;
    margin-top: 15px;
}

/* End Right Page Body Content  */

/* ================ DASHBOARD END ======================= */

/* ================ START USER PAGE ======================= */

.listofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .listofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    .listofusers a h1.active {
        border-bottom: 3px solid #692771;
    }

    .listofusers li a h1:hover {
        border-bottom: 3px solid #692771;
    }

.userlistleft {
    margin-bottom: 0px;
}

    .userlistleft li, .userlistright li {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
        margin-bottom: 0px;
    }

        .userlistleft li a {
            text-decoration: none;
            color: #000000;
        }

.userlistright {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .userlistright li {
        font-size: 12px;
        color: #6BC04B;
        text-align: right;
        line-height: 50px;
        padding: 0 15px;
    }

        .userlistright li.active {
            border-bottom: 4px solid #6BC04B;
        }

        .userlistright li:nth-child(1) {
            color: #666666;
            opacity: 0.5;
        }

            .userlistright li:nth-child(1):hover {
                color: #666666;
                opacity: 1;
                border-bottom: 4px solid #666666;
            }

        .userlistright li:nth-child(3) {
            color: #E74C39;
            opacity: 0.5;
        }

            .userlistright li:nth-child(3):hover {
                color: #E74C39;
                opacity: 1;
                border-bottom: 4px solid #E74C39;
            }

.bulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .bulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.applyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.createUser, .activebutton {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#userbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

#acivebtn {
    background: #8bc34a59 !important;
    color: #008000a6;
    font-weight: bold;
    padding: 7px 6px 6px 9px;
    border: none;
    border-radius: 2px;
}

    #acivebtn option {
        padding: 0px;
        margin: 0px;
    }

#acivebtnred {
    background: #8bc34a59 !important;
    color: #008000a6;
    font-weight: bold;
    padding: 7px 6px 6px 9px;
    border: none;
    border-radius: 2px;
}

.tableHeader {
    text-transform: uppercase;
    background: #ecf3f9;
    font-size: 10px;
    color: #29295B;
    letter-spacing: 0;
}

.tableBody {
    background: #ecf3f9;
    font-size: 10px;
    color: #000000;
}

/* ================ USER PAGE END ======================= */

/* ================ START ADD USER PAGE ======================= */

.activitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtUser h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 144px;
    }

.activitytxtGroup {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtGroup h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 150px;
    }

.activitytxtCourse1 {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtCourse1 h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 173px;
    }

.userForm {
    padding: 10px 40px 210px 20px;
}

.formTxt {
    margin-bottom: 22px;
}

    .formTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .formTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
    }

        .formTxt input::placeholder {
            color: #29295B !important;
        }

    .formTxt textarea {
        color: #29295B;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
    }

        .formTxt textarea::placeholder {
            color: #29295B !important;
        }

    .formTxt .formTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

    .formTxt select {
        color: #29295B;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
        display: block;
    }

.userBut {
    position: relative;
    top: 190px;
}

.userBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .userBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .userBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.userBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 7px 22px;
    font-weight: bold;
}

    .userBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ ADD USER PAGE END ======================= */

/* ================ START GROUP PAGE ======================= */
#assignUserBtn {
    background: #29295B;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

.assgnUserBtn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}
/* ================ GROUP PAGE END ======================= */

/* ================ START CREATE GROUP PAGE ======================= */
.glistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .glistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.guserlistleft {
    margin-bottom: 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .guserlistleft li, .guserlistright li {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
        margin-bottom: 0px;
    }

        .guserlistleft li a {
            text-decoration: none;
            color: #000000;
        }

            .guserlistleft li a:hover {
                text-decoration: none;
                color: #000000;
                border-bottom: 3px solid #692771;
            }

.guserlistright {
    text-align: right;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

    .guserlistright li {
        font-size: 12px;
        color: #6BC04B;
        text-align: right;
        line-height: 50px;
        padding: 0 15px;
    }

        .guserlistright li.active {
            border-bottom: 4px solid #6BC04B;
        }

        .guserlistright li:nth-child(2) {
            color: #E74C39;
            opacity: 0.5;
        }

            .guserlistright li:nth-child(2):hover {
                color: #E74C39;
                opacity: 1;
                border-bottom: 4px solid #E74C39;
            }



.gbulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .gbulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.gapplyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.gcreateUser, .gactivebutton {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#guserbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

#gacivebtn {
    background: #8bc34a59 !important;
    color: #008000a6;
    font-weight: bold;
    padding: 7px 6px 6px 9px;
    border: none;
    border-radius: 2px;
}

    #gacivebtn option {
        padding: 0px;
        margin: 0px;
    }

.gformTxt {
    margin: 20px 0px;
}

    .gformTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .gformTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
    }

        .gformTxt input::placeholder {
            color: #29295B !important;
        }

    .gformTxt .formTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

.guserBut1 {
    font-size: 14px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: right;
}

    .guserBut1 a {
        color: #692771;
        font-size: 12px;
        text-decoration: none;
    }

        .guserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.guserBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .guserBut2 a {
        color: #fff;
        text-decoration: none;
    }

/* ================ CREATE GROUP PAGE END ======================= */

/* ================ UPCOMING EVENTS PAGE ======================= */

.uplistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .uplistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

        .uplistofusers h1.active {
            border-bottom: 3px solid #692771;
        }

.upuserlistleft {
    width: 190px;
    margin-bottom: 0px;
}

    .upuserlistleft li {
        font-size: 12px;
        margin-bottom: 0px;
        list-style: none;
    }

.upbulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .upbulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.upapplyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.upcreateUser {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#upuserbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

/* ================ UPCOMING EVENTS END ======================= */

/* ================ START ADD EVENT PAGE ======================= */

.aeactivitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .aeactivitytxtUser h1 {
        padding-left: 15px;
        border-bottom: 3px solid #692771;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 145px;
    }

.aeuserForm {
    padding: 10px 40px 210px 20px;
}

.aeformTxt {
    margin-bottom: 22px;
}

    .aeformTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .aeformTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
    }

        .aeformTxt input::placeholder {
            color: #29295B !important;
        }

    .aeformTxt .aeformTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

    .aeformTxt .aecalendarIcon {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #ced4da;
        text-align: center;
        padding: 6px 10px 6px 0px;
    }

.dottedBox {
    border: 1px dashed #999999;
    height: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 15px 0;
    color: #a7abc3;
    font-size: 12px;
}

    .dottedBox span {
        color: #000000;
    }

.aeuserBut {
    position: relative;
    top: 190px;
}

.selectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.aeuserBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .aeuserBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .aeuserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.aeuserBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
}

    .aeuserBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ ADD EVENT END ======================= */

/* ================ START ASSIGN USER MODULE 1 PAGE ======================= */
.aumUserGroup {
    border-bottom: 1px solid #EBEDF2;
    width: 240px;
}

    .aumUserGroup li {
        list-style: none;
    }

    .aumUserGroup h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 47px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.aumlistofusers {
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    height: 50px;
}

.aumRadioList {
    width: 500px;
    margin: 0px;
    text-align: left;
    float: left;
    padding-left: 10px;
}

    .aumRadioList ul {
        margin: 0px;
        padding: 0px;
    }

    .aumRadioList li {
        margin: 0px;
        padding: 0 25px 0 0;
        list-style: none;
        display: inline;
        font-size: 13px;
        font-weight: bold;
    }

    .aumRadioList input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

    .aumRadioList input[type='radio']:checked:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

.aumselectUser {
    margin: 0 0 20px 0;
    padding: 5px 20px;
    background-color: #F2F3F7;
}

    .aumselectUser p {
        font-size: 10px;
        color: #29295B;
        margin-bottom: 0px;
    }

    .aumselectUser ul {
        margin: 0px;
        padding: 0px;
    }

    .aumselectUser li {
        margin: 0px 5px 65px 0;
        padding: 3px 2px 3px 10px;
        display: inline;
        font-size: 10px;
        font-weight: bold;
        color: white;
        background-color: #000;
        border-radius: 10px;
    }

        .aumselectUser li i {
            padding: 5px;
            border-left: 1px solid #FFF;
        }

.aumuserBut1 {
    font-size: 14px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: right;
}

    .aumuserBut1 a {
        color: #692771;
        font-size: 12px;
        text-decoration: none;
    }

        .aumuserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.aumuserBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .aumuserBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ ASSIGN USER MODULE 1 END ======================= */

/* ================= START COURSE PAGE ======================= */
.cplistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .cplistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.cpuserlistleft {
    margin-bottom: 0px;
}

    .cpuserlistleft li {
        display: inline-block;
        padding-right: 5px;
        font-size: 14px;
        margin-bottom: 0px;
    }

.btnlinkresource {
    font-weight: normal;
    padding: 6px 6px 6px 6px;
    border: none;
    border-radius: 2px;
    background: #000;
    color: #ffffff;
}
/* ================= COURSE PAGE end ======================= */

/* ================ START ASSIGN RESOURCES MODULE 1 PAGE ======================= */
.armUserGroup {
    border-bottom: 1px solid #EBEDF2;
    width: 270px;
}

    .armUserGroup li {
        list-style: none;
    }

    .armUserGroup h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 47px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.armlistofusers {
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    height: 50px;
}

.armRadioList {
    width: 500px;
    margin: 0px;
    text-align: left;
    float: left;
    padding-left: 10px;
}

    .armRadioList ul {
        margin: 0px;
        padding: 0px;
    }

    .armRadioList li {
        margin: 0px;
        padding: 0 25px 0 0;
        list-style: none;
        display: inline;
        font-size: 13px;
        font-weight: bold;
    }

    .armRadioList input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

    .armRadioList input[type='radio']:checked:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

.armselectUser {
    margin: 0 0 20px 0;
    padding: 5px 20px;
    background-color: #F2F3F7;
}

    .armselectUser p {
        font-size: 10px;
        color: #29295B;
        margin-bottom: 0px;
    }

    .armselectUser ul {
        margin: 0px;
        padding: 0px;
    }

    .armselectUser li {
        margin: 0px 5px 65px 0;
        padding: 3px 2px 3px 10px;
        display: inline;
        font-size: 10px;
        font-weight: bold;
        color: white;
        background-color: #000;
        border-radius: 10px;
    }

        .armselectUser li i {
            padding: 5px;
            border-left: 1px solid #FFF;
        }

.armuserBut1 {
    font-size: 14px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 0px;
    text-decoration: none;
    text-align: right;
}

    .armuserBut1 a {
        color: #692771;
        font-size: 12px;
        text-decoration: none;
    }

        .armuserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.armuserBut2 {
    background-color: #692771;
    border-radius: 3px;
    font-size: 12px;
    padding: 8px 25px 8px 25px;
    margin-left: 25px;
}

    .armuserBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ ASSIGN RESOURCES MODULE 1 END ======================= */

/* ================ RESOURCE MANAGER PAGE ======================= */

.rmlistofusers {
    margin: 0px 0px 6px 0px;
    border-bottom: 1px solid #EBEDF2;
}

    .rmlistofusers h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

        .rmlistofusers h1.active {
            border-bottom: 3px solid #692771;
        }

.rmuserlistleft {
    width: 190px;
    margin-bottom: 0px;
}

    .rmuserlistleft li {
        font-size: 12px;
        margin-bottom: 0px;
        list-style: none;
    }

.rmbulkActionbtn {
    position: absolute;
    padding-left: 15px;
    z-index: 1;
}

    .rmbulkActionbtn select {
        width: 90px;
        height: 26px;
        font-size: 10px;
        padding: 2px 0 0 8px;
        color: #A7ABC3;
        border-radius: 0;
    }

.rmapplyBtn {
    height: 27px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px #bcbcbc;
}

.rmcreateUser {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
}

#rmuserbtn {
    background: #F9A05E;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

/* ================ RESOURCE MANAGER END ======================= */

/* ================ START Users and Groups PAGE ======================= */

.activitytxtgrp {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .activitytxtgrp h1 {
        padding-left: 20px;
        border-bottom: 3px solid #692771;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 144px;
    }

.grpForm {
    padding: 10px 40px 210px 20px;
}

.formgrpTxt {
    margin-bottom: 22px;
}

    .formgrpTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .formgrpTxt input {
        color: #29295B;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
    }

        .formgrpTxt input::placeholder {
            color: #29295B !important;
        }

    .formgrpTxt .formgrpTxtopt {
        color: #29295B !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
        height: 38px !important;
    }

.grpBut {
    position: relative;
    top: 190px;
}

.grpBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .grpBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .grpBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.grpBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .grpBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Users and Groups PAGE END ======================= */
/* ================ START Course Details PAGE ======================= */

.cdactivitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .cdactivitytxtUser h1 {
        padding-left: 15px;
        border-bottom: 3px solid #692771;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 145px;
    }

.cduserForm {
    padding: 10px 40px 210px 20px;
}

.cdformTxt {
    margin-bottom: 22px;
}

    .cdformTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.cd1formTxt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.cdformTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.cd1formTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.cdformTxt input::placeholder {
    color: #29295B !important;
}

.cdformTxt .cdformTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.cdformTxt .calendarIcon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ced4da;
    text-align: center;
    padding: 6px 10px 6px 0px;
}

.dottcdBox {
    border: 1px dashed #999999;
    height: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 15px 0;
    color: #a7abc3;
    font-size: 12px;
    margin-top: 0px;
}

    .dottcdBox span {
        color: #000000;
    }

.cduserBut {
    position: relative;
    top: 190px;
}

.cdselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    height: 25px;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
}

.cduserBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .cduserBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .cduserBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.cduserBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .cduserBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Course Details END ======================= */
/* ================ START Add Resource PAGE ======================= */

.adresactivitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .adresactivitytxtUser h1 {
        padding-left: 15px;
        border-bottom: 3px solid #692771;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 145px;
    }

.adresForm {
    padding: 10px 40px 210px 20px;
}

.adresTxt {
    margin-bottom: 22px;
}

    .adresTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.adres1Txt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.adresTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.adres1Txt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.adresTxt input::placeholder {
    color: #29295B !important;
}

.adresTxt .adresTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.dottadresBox {
    border: 1px dashed #999999;
    height: auto;
    text-align: center;
    border-radius: 3px;
    padding: 0px 0 0px 0px;
    color: #a7abc3;
    font-size: 12px;
    margin-top: 30px;
}

    .dottadresBox span {
        color: #000000;
    }

.adresselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    height: 25px;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
}

.adresBut {
    position: relative;
    top: 190px;
}

.adresselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}

.adresBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .adresBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .adresBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.adresBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .adresBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Add Resource END ======================= */
/* ================ START Add Resource Video PAGE ======================= */

.adresviactivitytxtUser h1 {
    padding-left: 15px;
    border-bottom: 3px solid #692771;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 50px;
    width: 145px;
}

.adresviForm {
    padding: 10px 40px 210px 20px;
}

.adresviTxt {
    margin-bottom: 22px;
}

    .adresviTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.adresvi1Txt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.adresviTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.adresvi1Txt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.adresviTxt input::placeholder {
    color: #29295B !important;
}

.adresviTxt .adresviTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.dottadresviBox {
    border: 1px dashed #999999;
    height: auto;
    text-align: center;
    border-radius: 3px;
    padding: 0px 0 0px 0px;
    color: #a7abc3;
    font-size: 12px;
    margin-top: 30px;
}

    .dottadresviBox span {
        color: #000000;
    }

.adresviBut {
    position: relative;
    top: 190px;
}

.adresviselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    height: 25px;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
}

.adresviBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .adresviBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .adresviBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.adresviBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .adresviBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Add Resource Video END ======================= */
/* ================ START Add Resource Slide deck PAGE ======================= */

.adressdactivitytxtUser h1 {
    padding-left: 15px;
    border-bottom: 3px solid #692771;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 50px;
    width: 145px;
}

.adressdForm {
    padding: 10px 40px 210px 20px;
}

.adressdTxt {
    margin-bottom: 22px;
}

    .adressdTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.adressd1Txt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.adressdTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.adressd1Txt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.adressdTxt input::placeholder {
    color: #29295B !important;
}

.adressdTxt .adressdTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.dottadressdBox {
    border: 1px dashed #999999;
    height: auto;
    text-align: center;
    border-radius: 3px;
    padding: 0px 0 0px 0px;
    color: #a7abc3;
    font-size: 12px;
    margin-top: 30px;
}

    .dottadressdBox span {
        color: #000000;
    }

.adressdBut {
    position: relative;
    top: 190px;
}

.adressdselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    height: 25px;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
}

.adressdBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .adressdBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .adressdBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.adressdBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .adressdBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Add Resource slide deck END ======================= */
/* ================ START Add Resource Poster PAGE ======================= */

.adrespstactivitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .adrespstactivitytxtUser h1 {
        padding-left: 15px;
        border-bottom: 3px solid #692771;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 145px;
    }

.adrespstForm {
    padding: 10px 40px 210px 20px;
}

.adrespstTxt {
    margin-bottom: 22px;
}

    .adrespstTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.adrespst1Txt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.adrespstTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.adrespst1Txt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.adrespstTxt input::placeholder {
    color: #29295B !important;
}

.adrespstTxt .adrespstTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.dottadrespstBox {
    border: 1px dashed #999999;
    height: auto;
    text-align: center;
    border-radius: 3px;
    padding: 0px 0 0px 0px;
    color: #a7abc3;
    font-size: 12px;
    margin-top: 30px;
}

    .dottadrespstBox span {
        color: #000000;
    }

.adrespstBut {
    position: relative;
    top: 190px;
}

.adrespstselectFile {
    background-color: #f7f7f7;
    font-size: 12px;
    color: #29295b;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    height: 25px;
    padding: 3px 5px 3px 5px;
    margin-top: 5px;
}

.adrespstBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .adrespstBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .adrespstBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.adrespstBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .adrespstBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Add Resource Poster END ======================= */

/* ================ START Add Resource Weblink PAGE ======================= */

.adreswlactivitytxtUser {
    height: 53px;
    border-bottom: 1px solid #EBEDF2;
}

    .adreswlactivitytxtUser h1 {
        padding-left: 15px;
        border-bottom: 3px solid #692771;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        width: 145px;
    }

.adreswlForm {
    padding: 10px 40px 210px 20px;
}

.adreswlTxt {
    margin-bottom: 22px;
}

    .adreswlTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

.adreswl1Txt label {
    color: #CFCFCF;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

.adreswlTxt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
}

.adreswl1Txt input {
    color: #29295B;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 10px 90px 10px;
    margin-bottom: 22px;
}

.adreswlTxt input::placeholder {
    color: #29295B !important;
}

.adreswlTxt .adreswlTxtopt {
    color: #29295B !important;
    font-family: Arial !important;
    font-size: 14px !important;
    padding: 0 10px;
    height: 38px !important;
}

.adreswlBut {
    position: relative;
    top: 190px;
}

.adreswlBut1 {
    font-size: 12px;
    color: #692771;
    text-align: center;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    text-align: right;
}

    .adreswlBut1 a {
        color: #692771;
        text-decoration: none;
    }

        .adreswlBut1 a:hover {
            color: #692771;
            text-decoration: none;
        }

.adreswlBut2 {
    background-color: #692771;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
}

    .adreswlBut2 a {
        color: #fff;
        text-decoration: none;
    }
/* ================ Add Resource weblink END ======================= */

/* ================ START ANALYTICS REPORT PAGE ======================= */
.arUserGroup {
    border-bottom: 1px solid #EBEDF2;
    width: 180px;
}

    .arUserGroup li {
        list-style: none;
    }

    .arUserGroup h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 47px;
        margin-bottom: 0px;
        border-bottom: 3px solid #692771;
    }

.arlistofusers {
    border-bottom: 1px solid #e6e6e6;
    margin: 0px;
    height: 50px;
}

.arRadioList {
    width: 80%;
    margin: 0px;
    text-align: left;
    float: left;
    padding-left: 10px;
}

    .arRadioList ul {
        margin: 0px;
        padding: 0px;
    }

    .arRadioList li {
        margin: 0px;
        padding: 0 25px 0 0;
        list-style: none;
        display: inline;
        font-size: 13px;
        font-weight: bold;
    }

    .arRadioList input[type='radio']:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

    .arRadioList input[type='radio']:checked:after {
        width: 14px;
        height: 14px;
        border-radius: 15px;
        top: -1px;
        left: -1px;
        position: relative;
        content: '';
        background: none;
        display: inline-block;
        visibility: visible;
        border: 2px solid #692771;
    }

.arformTxt {
    margin: 10px 30px 10px 0;
    width: 20%;
    float: left;
}

    .arformTxt label {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .arformTxt input {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
        border-radius: 0px;
    }

    .arformTxt .input-group input {
        height: 30px;
        padding-left: 0px;
    }

    .arformTxt .input-group select {
        height: 30px;
        padding-left: 0px;
        border-radius: 0px;
        color: #A7ABC3 !important;
        font-family: Arial !important;
        font-size: 12px !important;
    }

    .arformTxt .input-group option {
        color: #A7ABC3 !important;
    }

    .arformTxt input::placeholder {
        color: #A7ABC3 !important;
    }

    .arformTxt .arformTxtopt {
        color: #A7ABC3 !important;
        font-family: Arial !important;
        font-size: 14px !important;
        padding: 0 10px;
    }

    .arformTxt .arcalendarIcon {
        border: 1px solid #ced4da;
        text-align: center;
        color: #A7ABC3;
        font-size: 14px;
        padding: 5px 10px 2px 6px;
        height: 30px;
    }

#arassignUserBtn {
    background: #000000;
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 8px;
    margin-left: 10px;
    cursor: pointer;
}

select#countryList {
    float: right;
    width: 180px;
    height: 26px;
    max-width: 220px;
    font-size: 10px;
    padding: 2px 0 0 8px;
    color: #A7ABC3;
    margin: 5px 15px 0 10px;
    border-radius: 0px;
}
/* ================ quickReport.aspx css ======================= */
#quickDiv {
    margin-top: 10px;
}

    #quickDiv h1 {
        padding: 0px 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.1px;
        line-height: 50px;
        margin-bottom: 0px;
    }

    #quickDiv .box {
        margin-right: 0px;
        padding: 0px;
        background-color: #fcfcfc;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
        border: none;
    }



    #quickDiv .quickContent {
        position: relative;
    }

    #quickDiv .quickBtn {
        position: absolute;
        right: 20px;
        bottom: 8px;
    }
/* ================ ANALYTICS REPORT END ======================= */


